@font-face {
    font-family:  "sohne-var","Helvetica Neue","Arial",sans-serif;
    src:  url("./assets/test-sohne-font/TestSöhneMono-Kräftig.otf"),
    url('./assets/Helvetica/Medium/MediumExtended.otf'),
    url("./assets/arial/Arialn.ttf"),
    url("./assets/Helvetica/HelveticaBold/HelveticaBold.otf")
}
html,body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow-x:hidden;
  }
